

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>main page</title>

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="../../dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="../../dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/table.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/popup.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/label.css">
  <link rel="stylesheet" type="text/css" href="../../dist/components/dropdown.css">

  <!--- Component JS -->
  <script src="../assets/library/jquery.min.js"></script>
  <script src="../assets/library/iframe-content.js"></script>
  <script type="text/javascript" src="../../dist/components/popup.js"></script>
  <script type="text/javascript" src="../../dist/components/transition.js"></script>
  <script type="text/javascript" src="../../dist/components/dropdown.js"></script>

  <!--- Show Names -->
  <script src="../assets/show-examples.js"></script>

  <!--- Example CSS -->
  <style>
  body {
    padding: 1em;
  }
  .ui.table {
    table-layout: fixed;
  }
  </style>

  <!--- Example Javascript -->
  <script>
  </script>
</head>
<body>
<p th:text="'안녕하세요. ' + ${data}" >안녕하세요. 손님</p>



 <form action="/write" method="GET">
    	<button class="ui button" >새글작성</button>
    </form>
    <div class="ui divider"></div>
    
<div class="column">
    <table class="ui celled selectable aligned table">
      <thead>
        <th class="left aligned">NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>수정</th>
        
      </thead>
       <tbody>
       
        <!-- CONTENTS !-->
		<tr th:each="list : ${Lists}">
 			<td th:text="${list.id}"></td>
 			<td th:text="${list.title}"></td>			
 			<td th:text="${list.writer}"></td>
			<td th:text="${list.content}"></td>
			<td><a th:href="@{'/edit/' +  ${list.id}}" class="more">수정하기</a></td>
	
		</tr>
        </tbody>
    </table>
  </div>

   
     
  <div class="ui divider"></div>
       
   <form action="/search" method="GET">
    <div class="ui right labeled input">
      <input name="keyword" type="text" placeholder="제목으로 검색하기">
      <button class="ui label">
        검색
      </button>
    </div>
   </form>
   
  <div class="ui divider"></div>


 
   
    <form action="/searchname" method="GET">
    <div class="ui right labeled input">
      <input name="keyword" type="text" placeholder="이름으로 검색하기(이름동일)">
      <button class="ui label">
        검색
      </button>
    </div>
   </form>
      <div class="ui divider"></div>
   
   
    
</body>
</html>