<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>H3ello</title>
 
     <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <form action="/post" method="post">
        제목 : <input type="text" name="title"> <br>
        작성자 : <input type="text" name="writer"> <br>
        내용 : <textarea name="content"></textarea><br>

        <input type="submit" value="등록">
    </form>
    
     <form action="/main" method="GET">
    	<button>돌아가기</button>
    </form> 
    
</body>
</html>